Datos/Sin filtrar
Datos/2021_shp
Datos/2022_shp
Datos/2023_shp
Datos/2021_shp.rar
Datos/2022_shp.rar
Datos/2023_shp.rar
.Rproj.user
Datos/Accidentes_Geojsonificador_inador/Accidentes_2025_Junio.*
Datos/Accidentes_Geojsonificador_inador/.RData
Datos/SINIESTRALIDAD 2025 (2).xlsx